<h1>Add Video</h1>
<p>Each of the fields below is required.</p>
<form action="/videos" method="POST">
  <input type="text" name="title" id="title" placeholder="Video Title">
  <input type="text" name="description" id="description" placeholder="Description">
  <input type="text" name="url" id="url" placeholder="YouTube URL">
  <input type="text" name="genre" id="genre" placeholder="Genre" >
  <button>Submit</button>
</form>
