<h1>Add Video</h1>
<form action="/videos" method="POST">
  <input type="text" name="title" id="title" placeholder="enter video title">
  <input type="text" name="description" id="description" placeholder="enter a description">
  <input type="text" name="url" id="url" placeholder="enter a url">
  <input type="text" name="genre" id="genre" placeholder="enter a genre" >
  <button>add video</button>
</form>
