<h2>Add a Video</h2>
<form action='/videos' method='post' role="form">
  <div class='form-group'>
    <label for='title'>Title of Video</lable>
    <input type='text' class='form-control' id='title' name='title' autofocus/>
  </div>
  <div class='form-group'>
    <label for='description'>Description of Video</lable>
    <input type='text' class='form-control' id='description' name='description' autofocus/>
  </div>
  <div class='form-group'>
    <label for='url'>URL</label>
    <input type='text' class='form-control' id='url' name='url'/>
    </p>
  </div>
  <div class='form group'>
    <label for='genre'>Genre</label>
    <input type='text' class='form-control' id='genre' name='genre'/>
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>
