@font-face
{
    font-family: FRINCO;
    src: url(./FRINCO.ttf);
}

body
{
    font-family: 'FRINCO';
    color: white;
    background-image: url('./Fabric 2.png');
    background-size: cover;
}

iframe
{
    margin-left: 33.3%;
}

p{
  text-align: center;
  font-size: 32px;
}
h1 {
  font-size: 48px;
  text-align: center;
}
input {
   display: inline-block; 
   margin-left: 38%;
   font-size: 24px;
   text-align: center;
   height: 45px;
   width: 400px;
   background: gray;
}
 button {
  display: block;
  margin-left: 47%;
  border: 4px solid gray;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
}